<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>

    <link rel="icon" href="/images/icon.svg">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/normalize.css">
    
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles-tablet.css">
    <link rel="stylesheet" href="/css/styles-laptop.css">
</head>

<body>
<header class="bg-yellow p-8">

        <div class="fx-tabl-lapt">
            <div class="flex">
                <h1>
                    <a href="/" class="links">
                    <img class="p-8 width-50 width-tabl-lapt" src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre"/>
                    </a>
                </h1>
    
                <form class="search-bar flex-center center width-50 width-tabl-lapt">
                    <input  type="text" name="search" placeholder="Buscar productos, marcas">
                    <button class="search-button"><i class="fas fa-search font-dark-grey"></i></button>
                </form>
            </div>  
    
            <p class="flex-center center width-tabl-lapt bigger">
            <i class="fas fa-hand-holding-usd spin"></i>
             Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>
    
    
    <nav class="margin-top-8 fx-tabl-lapt fx-space-between hide">
         
            <ul type="none" class="margin-bottom-10 pl-10 fx-tabl-lapt">
                <li class="margins-8" id="link2"><a href="#ofertas" class="links">Ofertas</a> </li>
                <li class="margins-8" id="link2"> <a href="#" class="links">Tiendas oficiales</a></li>
                <li class="margins-8" id="link2"> <a href="#" class="links">Vender</a> </li>
                <li class="margins-8" id="link2"> <a href="#" class="links">Ayuda</a> </li>
            </ul>
    
            <ul type="none" class="margin-bottom-10 pr-10 fx-tabl-lapt">
                <li class="margins-8" id="link2"> 
                    <a href="/register" class="links">Creá tu cuenta</a>
                    <i class="fas fa-id-card"></i>
                </li> 
                <li class="margins-8" id="link2"> 
                    <a href="/login" class="links">Ingresá</a>
                    <i class="fas fa-sign-in-alt"></i>
                </li> 
                <li class="margins-8" id="link2"> 
                    <a href="#" class="links">Mis compras</a>
                    <i class="fas fa-shopping-basket"></i>
                </li>
            </ul>
    </nav>
        <div class="menu-hamburguesa p-8">
            <i class="fas fa-bars" ></i>
        </div>
    
</header>

    <img class="width-100" src = "/images/img-home-banner.jpg" alt="Promo fiestas">

<main>
    <section class="flex-wrap margin-top-16">
        <h2 class="width-100">Basado en tu última visita</h2>
        
                <article class="product margin-bottom-10 p-8 p-grey bg-white">
                <img class="width-100 margins-auto" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="p-8 relative flex-wrap fx-center border-article bg-white"> 
                    <i class="fas fa-truck font-green truck-icon icon-rotation"></i> 
                    <p class="font-large width-30">$6770</p>
                    <p class="font-medium font-green width-70">40% OFF</p>
                    <h3 class="font-medium font-bold product-title">Cafetera Moulinex</h3>
                </div>
                </article>

                <article class="product margin-bottom-10 p-8 p-grey bg-white">
                <img class="width-100 margins-auto" src= "/images/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019">
                <div class="p-8 relative flex-wrap fx-center border-article bg-white"> 
                    <i class="fas fa-truck font-green truck-icon icon-rotation"></i> 
                    <p class="font-large width-30">$230.000</p>
                    <p class="font-medium font-green width-70">20% OFF</p>
                    <h3 class="font-medium font-bold product-title">Macbook Pro 2019</h3>
                </div>
                </article>

                <article class="product margin-bottom-10 p-8 p-grey bg-white">
                <img class="width-100 margins-auto" src= "/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div class="p-8 relative flex-wrap fx-center border-article bg-white"> 
                    <i class="fas fa-truck font-green truck-icon icon-rotation"></i> 
                    <p class="font-large width-30">$70.500</p>
                    <p class="font-medium font-green width-70">10% OFF</p>
                    <h3 class="font-medium font-bold product-title">Samsung Galaxy S10</h3>
                </div>
                </article>

                <article class="product margin-bottom-10 p-8 p-grey bg-white">
                <img class="width-100 margins-auto" src="/images/img-tv-samsung-smart.jpg" alt="Samsung SmartTv">
                <div class="p-8 relative flex-wrap fx-center border-article bg-white"> 
                    <i class="fas fa-truck font-green truck-icon icon-rotation"></i>
                    <p class="font-large width-30">$23.200</p>
                    <p class="font-medium font-green width-70">5% OFF</p>
                    <h3 class="font-medium font-bold product-title">SmartTv Samsung 43"</h3>
                </div>
                </article>
          
    </section>

    <section class="flex-wrap margin-top-16">
        <h2 class="width-100" id="ofertas">Ofertas</h2>

        <article class="product margin-bottom-10 p-8 p-grey bg-white">
        <img class="width-100 margins-auto" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
        <div class="p-8 relative flex-wrap fx-center border-article bg-white"> 
            <i class="fas fa-truck font-green truck-icon icon-rotation"></i>
            <p class="font-large width-30">$6.700</p>
            <p class="font-medium font-green width-70">40% OFF</p>
            <h3 class="font-medium font-bold product-title">Cafetera Moulinex</h3>
        </div>
        </article>

        <article class="product margin-bottom-10 p-8 p-grey bg-white" >
        <img class="width-100 margins-auto" src= "/images/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019">
        <div class="p-8 relative flex-wrap fx-center border-article bg-white"> 
            <i class="fas fa-truck font-green truck-icon icon-rotation"></i> 
            <p class="font-large width-30">$230.000</p>
            <p class="font-medium font-green width-70">20% OFF</p>
            <h3 class="font-medium font-bold product-title">Macbook Pro 2019</h3>
        </div>
        </article>

        <article class="product margin-bottom-10 p-8 p-grey bg-white">
        <img class="width-100 margins-auto" src= "/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
        <div class="p-8 relative flex-wrap fx-center border-article bg-white"> 
            <i class="fas fa-truck font-green truck-icon icon-rotation"></i> 
            <p class="font-large width-30">$70.500</p>
            <p class="font-medium font-green width-70">10% OFF</p>
            <h3 class="font-medium font-bold product-title">Samsung Galaxy S10</h3>
        </div>
        </article>

        <article class="product margin-bottom-10 p-8 p-grey bg-white">
        <img class="width-100 margins-auto" src="/images/img-tv-samsung-smart.jpg" alt="Smart Tv Samsung">
        <div class="p-8 relative flex-wrap fx-center border-article bg-white"> 
            <i class="fas fa-truck font-green truck-icon icon-rotation"></i> 
            <p class="font-large width-30">$23.200</p>
            <p class="font-medium font-green width-70">5% OFF</p>
            <h3 class="font-medium font-bold product-title">SmartTv Samsung 43"</h3>
         </div>
        </article>
    </section>
    </section>

</main>

<footer class="p-8">
     <section> 
         <div class="footer-lapt">
            <article class="p-20"> 
            <i class="fas fa-credit-card margin-bottom-10 tamaño-icon icon font-light-blue"></i>
            <p class="font-large font-dark-grey font-bold m-8">Pagá con tarjeta o en efectivo</p>
            <p class="font-dark-grey">Con Mercado Liebre Cash, tenés cuotas sin interés con
            tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>

            <article class="p-20">
            <i class="fas fa-gift margin-bottom-10 tamaño-icon icon font-light-blue"></i>
            <p class="font-large font-dark-grey font-bold m-8">Envíos gratis desde $2.500</p>
            <p class="font-dark-grey">Solo por estar registrad@ en Mercado Liebre tenés envíos 
            gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>

            <article class="p-20">
            <i class="fas fa-user-shield margin-bottom-10 tamaño-icon icon font-light-blue"></i>
            <p class="font-large font-dark-grey font-bold m-8">Seguridad, de principio a fin</p>
            <p class="font-dark-grey">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
            hacer, porque estás siempre protegid@.</p>
            </article>
        </div> 
        
            <article class="p-10">
            <p class="font-mini font-dark-grey flex">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </article>
     </section>
</footer>

</body>
</html>