<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mercado Liebre</title>
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    
        <link rel="stylesheet" href="/css/normalize.css">
        
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/styles-tablet.css">
        <link rel="stylesheet" href="/css/styles-laptop.css">
    </head>

    <body class="bg-light-grey">
        <header class="bg-yellow p-8">

            <div class="fx-tabl-lapt">
                <div class="flex">
                    <h1><img class="p-8 width-50 width-tabl-lapt" src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre"/></h1>
        
                <label class="search-bar flex-center center width-50 width-tabl-lapt">
                    <input type="text" placeholder="Buscar productos, marcas"></input>
                </label>
                </div>  
        
                <p class="flex-center center width-tabl-lapt">
                <i class="fas fa-hand-holding-usd"></i>
                 Comprá en cuotas y sin tarjeta de crédito
                </p>
            </div>
        
        
        <nav class="margin-top-8 fx-tabl-lapt fx-space-between">
                <ul type="none" class="margin-bottom-8 fx-tabl-lapt ">
                    <li class="margins-8"><a href="#" target="_blank" class="links">Ofertas</a> </li>
                    <li class="margins-8"> <a href="#" target="_blank" class="links">Tiendas oficiales</a></li>
                    <li class="margins-8"> <a href="#" target="_blank" class="links">Vender</a> </li>
                    <li class="margins-8"> <a href="#" target="_blank" class="links">Ayuda</a> </li>
                </ul>
        
                <ul type="none" class="margin-bottom-8 fx-tabl-lapt">
                    <li class="margins-8"> 
                        <a href="/register" class="links">Creá tu cuenta</a>
                        <i class="fas fa-id-card"></i>
                    </li> 
                    <li class="margins-8"> 
                        <a href="#" class="links">Ingresá</a>
                        <i class="fas fa-sign-in-alt"></i>
                    </li> 
                    <li class="margins-8"> 
                        <a href="#" class="links">Mis compras</a>
                        <i class="fas fa-shopping-basket"></i>
                    </li>
                </ul>
        
            <div class="menu-hamburguesa">
                <i class="fas fa-bars" ></i>
            </div>
        </nav>
        
        </header>

    <main class="p-8 margin-center width-90">

        <h2 class="center">Registro</h2>

         <form class="flex flex-wrap" action="/register" method="POST"> 
            <input class="form m-8" type="text" name="nombre" placeholder="Nombre y apellido">   
            <input class="form m-8" type="text" name="usuario" placeholder="Nombre de usuario">   
            <input class="form m-8" type="email" name="mail" placeholder="E-mail">   
            <input class="form m-8" type="text" name="domicilio" placeholder="Domicilio">   

            <p class="font-bold">Fecha de nacimiento</p>
            <input class="form m-8" type="date" name="fecha-nacimiento"> 
        
        <div>
            <p class="font-bold">Perfil de usuario</p>
            <div class="m-8 width-50">
                <label><input type="radio" name="tipo-usuario" value="comprador">Comprador</label>
            </div>
            <div class="margin-bottom-8">
            <label><input class="m-8" type="radio" name="tipo-usuario" value="vendedor">Vendedor</label>
            </div>
        </div>

        <div>
            <p class="font-bold">Intereses</p>
            <div class="m-8 width-50">
                <label class="p-8 width-100"><input type="checkbox" name="intereses" value="electro">Electro</label>
            </div>
            <div class="margin-bottom-8">
                <label class="p-8 width-100"><input type="checkbox" name="intereses" value="moda">Moda</label>
            </div>
            <div class="margin-bottom-8">
                <label class="p-8 width-100"><input type="checkbox" name="intereses" value="hogar">Hogar</label>
            </div>
            <div class="margin-bottom-8">
                <label class="p-8 width-100"><input type="checkbox" name="intereses" value="juguetería">Juguetería</label>
            </div>
                <label class="p-8 width-100"><input type="checkbox" name="intereses" value="vida-sana">Vida sana</label>
        </div>

            <label class="p-8 m-8 font-bold">Ingrese su foto de usuario:
                <div class="m-8 width-50">
                <input type="file" name="foto" accept=".jpg">
                </div>
            </label>   
            
            <input class="form margin-bottom-8" type="password" name="contraseña" placeholder="Contraseña">   
            <input class="form m-8" type="password" name="confirmar-contraseña" placeholder="Confirmar contraseña">   

            <button class="button fx-center mr-5 m-8 bg-light-blue font-light-grey" type="submit">Enviar</button>
            <button class="button fx-center ml-5 m-8 bg-light-blue font-light-grey" type="reset">Borrar</button>
            
        </form>

    </main>

    <footer class="p-8">
        <section> 
            <div class="footer-lapt">
               <article class="p-20"> 
               <i class="fas fa-credit-card margin-bottom-10 tamaño-icon font-light-blue "></i>
               <p class="font-large font-dark-grey font-bold m-8">Pagá con tarjeta o en efectivo</p>
               <p class="font-dark-grey">Con Mercado Liebre Cash, tenés cuotas sin interés con
               tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
               </article>
   
               <article class="p-20">
               <i class="fas fa-gift margin-bottom-10 tamaño-icon font-light-blue"></i>
               <p class="font-large font-dark-grey font-bold m-8">Envíos gratis desde $2.500</p>
               <p class="font-dark-grey">Solo por estar registrad@ en Mercado Liebre tenés envíos 
               gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
               </article>
   
               <article class="p-20">
               <i class="fas fa-user-shield margin-bottom-10 tamaño-icon font-light-blue"></i>
               <p class="font-large font-dark-grey font-bold m-8">Seguridad, de principio a fin</p>
               <p class="font-dark-grey">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
               hacer, porque estás siempre protegid@.</p>
               </article>
           </div> 
           
               <article class="p-10">
               <p class="font-mini font-dark-grey flex">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
               </article>
        </section>
   </footer>
</body>
</html>