@media (min-width:769px){

    body { font-size: 16px }

.menu-hamburguesa {display:none}

.product-title { 
    display: none;
    transition: all 500ms
     }
    
.product { 
    box-shadow: none;
    width: 25%
 }

 .product:hover .product-title { 
    display: block;
    color: #666;
    font-weight: normal;
        }
    
.product:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100); 
    }

 .p-grey {padding: 2px; background-color: #ebebeb;}

 .flex-tabl-lapt {
     display: flex;
}

.width-tabl-lapt {
    width: 33.3vw
}

.rotation:hover {
    transform: rotate(-90deg);
    transition: 1s
}


.fx-space-between {justify-content: space-between}

.footer-lapt{
    display:flex
}

}