@media (min-width: 481px){

.menu-hamburguesa {display:none}

.product { 
    box-shadow: none;
    width: 50%  ; 
}

.p-grey {background-color: #ebebeb;}

.fx-tabl-lapt {
    display:flex;
}

.width-tabl-lapt {
    width: 33.3vw
}

.fx-space-between {justify-content: space-between}

}

