@media (min-width:769px){

body { font-size: 16px }

.menu-hamburguesa {display:none}

.product-title { display: none }
.product { 
    box-shadow: none;
    width: 25%
 }

 .p-grey {background-color: #ebebeb;}

 .flex-tabl-lapt {
     display: flex;
}

.width-tabl-lapt {
    width: 33.3vw
}

.fx-space-between {justify-content: space-between}

.footer-lapt{
    display:flex
}
}