* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body {
    font-family: roboto, arial; 
    font-size: 12px;
    background-color: #ebebeb;
}

main {
    width: 90%;
    margin: 0 auto;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #666;
    margin-bottom: 8px
}

.font-yellow { color:#EAC926 }
.bg-yellow { background-color: #EAC926}

.font-blue { color: #03264C;}
.bg-blue { background-color: #03264C;}

.font-light-blue { color: #1259c3;}
.bg-light-blue { background-color: #1259c3;}

.font-dark-grey { color: #666;}
.bg-dark-grey { background-color: #666;}

.font-light-grey { color: #ebebeb;}
.bg-light-grey { background-color: #ebebeb;}

.font-green { color: #39b54a;}
.bg-green { background-color: #39b54a;}

.font-white {color: white}
.bg-white { background-color: white }

.font-heading { font-size: 24px}
.font-large { font-size: 18px }
.font-medium { font-size: 16px}
.font-light { font-size: 12px}
.font-mini {font-size: 10px}
.font-bold { font-weight: bold }

.center { text-align: center }

.width-100 { width: 100% }
.width-90 { width: 90% }
.width-70 {width:70%}
.width-30 {width:30%}
.width-50 {width: 50vw}

.margins-auto { margin-left:auto; margin-right:auto; display:block }
.m-8 {margin-top: 8px; margin-bottom:8px}
.margins-8 {margin-right: 8px; margin-left: 8px}
.mr-5 {margin-right: 5px}
.ml-5 {margin-left:5px}
.margin-top-8 {margin-top: 8px}
.margin-top-16 {margin-top: 16px}
.margin-bottom-10 { margin-bottom: 10px }
.margin-bottom-8 {margin-bottom: 8px}
.margin-center {margin: center}

.p-8 { padding:8px }
.p-10 {padding: 10px}
.p-20 {padding:20px}

.border-top-1 {border-top: 1px solid lightgrey }


.links  {
    list-style:none;
    text-decoration: none;
    color: black
}

.menu-hamburguesa { text-align:center }
.menu-hamburguesa i { 
    padding: 10px;
    color: white;
    background-color: #1259c3;
    border-radius: 20%;
    cursor: pointer;
 }

 .search-bar input {
        padding: 8px;
        border-radius: 5px;
        border: 1px;
        font-size: 16px;
        width: 80%;
 }

.product { 
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width:100%
 }

.truck-icon {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}
.relative {position: relative}


.flex { display: flex;}
.flex-wrap { display: flex;  flex-wrap: wrap }
.flex-center {align-self: center; margin: auto}
.fx-center {align-items: center}
.align-center {align-items: center}

footer {
    text-align: center;
    background-color: white;
}
 
.tamaño-icon { font-size: 2em }
.margen-icon { margin-bottom: 2px }


/*register & login*/
.form {
    width: 100%;
    padding: 4px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px; 
    color: #666
}

.button {
    width: 45%;
    padding: 4px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px; 
}